In [1]:
print("Hello Data Scientist")

Hello Data Scientist

In [2]:
"Hello Data Scientist"

'Hello Data Scientist'

# Data Types

In [3]:
int_data = 100
float_data = 50.50
char_data = "Abcd"
boolean_data_True = True
boolean_data_False = False

In [4]:
int_data

100

In [5]:
int_data,float_data,char_data,boolean_data_True,boolean_data_False

(100, 50.5, 'Abcd', True, False)

In [7]:
print(type(char_data))

<class 'str'>

In [8]:
print(type(float_data))

<class 'float'>

# Variable

In [9]:
name = "Raihan Sikdar"
age = 23

In [10]:
name

'Raihan Sikdar'

In [11]:
age

23

In [12]:
# rules -> symbols, numeric
# @name wrong
# 1name wrong
# name1 write

In [13]:
id(name)

2609268999984

In [14]:
id(age)

140726708087280

# Condition

In [15]:
# if|elif|else

In [16]:
# if condition->True:
#     #statement
# else condition->False:
#     # statement

In [19]:
if 100>10:
    print("True")
else:
    print("False")

True

In [23]:
age = 18

if(age>17):
    print("You can active your account")
else:
    print("You can't active your account")

You can active your account

In [26]:
#If else Ladder

age = 17
gurdian = False
friend_name = "Raihan"

if age>17:
    print("You can active your account")
elif gurdian == True:
    print("Gurdian Part")
    print("You can active your account")
elif friend_name == "Raihan":
    print("You can active your account")
else:
    print("You can't active your account")

You can active your account

In [27]:
# arithmatic operators( ==, <=, >=, <, >, != )

In [28]:
# nesred condition
nid = True
age =18

if age>=18:
    print("You are 18,but do you have nid")
    if nid == True:
        print("Ok you can vote")
    else:
        print("Please create nid")
else:
    print("You are under 18,so you can't give your vote")

You are 18,but do you have nid
Ok you can vote

# Loop

In [29]:
# for,while

In [30]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [33]:
for i in range(5,15,1):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [34]:
for i in range(0,15,3):
    print(i)

0
3
6
9
12

In [36]:
# while
i = 0
n = 10

while i<=n:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10